In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

res = requests.get('http://127.0.0.1:8000/places/default/sitemap.xml')
soup = BeautifulSoup(res.text, 'html5lib')

In [6]:
soup.find_all('loc')[0].text

'http://127.0.0.1:8000/places/default/view/Afghanistan-1'

In [34]:
paises = pd.DataFrame()
links = soup.find_all('loc')
for link in links[:6]:
    tds = {}
    pais = requests.get(link.text)
    soupP = BeautifulSoup(pais.text, 'html5lib')
    trs = soupP.find_all('tr')
    for tr in trs:
        tds[tr.find_all('td')[0].text] = tr.find_all('td')[1].text
    #paises = pd.concat([paises, pd.DataFrame(tds)])
    print(tds)

ValueError: If using all scalar values, you must pass an index

In [39]:
pd.DataFrame(tds, index = tds['Country: '])

TypeError: 'dict_keys' object is not subscriptable

In [30]:
pd.DataFrame({'td':tds, 'infos': infos}).pivot(columns='td', values='infos')

td,Area:,Capital:,Continent:,Country:,Currency Code:,Currency Name:,Iso:,Languages:,National Flag:,Neighbours:,Phone:,Population:,Postal Code Format:,Postal Code Regex:,Tld:
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
1,"647,500 square kilometres",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"29,121,286",NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,AF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Kabul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.af
8,NaN,NaN,NaN,NaN,AFN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,Afghani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"fa-AF,ps,uz-AF,tk",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TM CN IR TJ PK UZ,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
16,"1,580 square kilometres",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"26,711",NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,AX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,Aland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Mariehamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,EU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.ax
23,NaN,NaN,NaN,NaN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,Euro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+358-18,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#####,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,^(?:FI)*(\d{5})$,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sv-AX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN